Flow 5.txt
[{"id":"529892e6.cff0ec","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"cba17e1f.62ea8","type":"function","z":"529892e6.cff0ec","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["a596d972.6d6aa8"]]},{"id":"a596d972.6d6aa8","type":"rpi-gpio out","z":"529892e6.cff0ec","name":"Pin: 29","pin":"29","set":"","level":"0","freq":"","out":"out","x":430,"y":180,"wires":[]},{"id":"dc7380cb.7094c","type":"function","z":"529892e6.cff0ec","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":300,"wires":[["ab6deec8.6aa56","88c631d9.4fe9a"]]},{"id":"7b307f26.eb92d","type":"function","z":"529892e6.cff0ec","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["a596d972.6d6aa8"]]},{"id":"88c631d9.4fe9a","type":"http response","z":"529892e6.cff0ec","name":"","statusCode":"","headers":{},"x":690,"y":60,"wires":[]},{"id":"47a0b11c.457f7","type":"function","z":"529892e6.cff0ec","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":60,"wires":[["88c631d9.4fe9a","ab6deec8.6aa56"]]},{"id":"ab6deec8.6aa56","type":"debug","z":"529892e6.cff0ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":200,"wires":[]},{"id":"dda99ae2.55fcc8","type":"http in","z":"529892e6.cff0ec","name":"a01","url":"/a01","method":"get","upload":false,"swaggerDoc":"","x":50,"y":100,"wires":[["47a0b11c.457f7","cba17e1f.62ea8"]]},{"id":"6e5c4a22.2e9ea4","type":"http in","z":"529892e6.cff0ec","name":"a02","url":"/a02","method":"get","upload":false,"swaggerDoc":"","x":50,"y":260,"wires":[["7b307f26.eb92d","dc7380cb.7094c"]]}]