Flow 4.txt
[{"id":"80f3e39b.33c72","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ab93066b.750448","type":"http in","z":"80f3e39b.33c72","name":"","url":"/pin18","method":"get","upload":false,"swaggerDoc":"","x":90,"y":200,"wires":[["92894043.de4c8"]]},{"id":"2715d67d.feecaa","type":"rpi-gpio in","z":"80f3e39b.33c72","name":"GPIO24","pin":"18","intype":"up","debounce":"25","read":true,"x":100,"y":260,"wires":[["aeebf5c7.a01d78"]]},{"id":"aeebf5c7.a01d78","type":"function","z":"80f3e39b.33c72","name":"SET GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["e622f64c.41f648"]]},{"id":"92894043.de4c8","type":"function","z":"80f3e39b.33c72","name":"GET GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["3adcc273.85c20e","e622f64c.41f648"]]},{"id":"3adcc273.85c20e","type":"http response","z":"80f3e39b.33c72","name":"","statusCode":"","headers":{},"x":530,"y":200,"wires":[]},{"id":"e622f64c.41f648","type":"debug","z":"80f3e39b.33c72","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":260,"wires":[]}]